* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(47, 51, 51);
}

h3 {
    flex-wrap: wrap;
    margin-bottom: 10px;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 5px;
    padding: 10px 0;
}

main {
    width: calc(100%-300px);
}

.section1 {
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80);
    background-size: 100%;
    width: 100%;
}

.perfil {
    background-image: url(https://media.istockphoto.com/id/952039816/pt/foto/futuristic-digital-blockchain-background-fintech-technology.jpg?s=1024x1024&w=is&k=20&c=DVpdIf7rCobbXpD9UMn6YxiEv1kEnuj9yhpIMWtzHrI=);
    background-size: 1000px;
    background-color: rgb(31, 25, 25);
    padding-bottom: 609px;
    width: 400px;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    border: solid 2.5px white;
}

.perfil img {
    margin: 20px;
    width: 270px;
    height: 260px;
    border-radius: 50%;
    flex-wrap: wrap;
    border: solid 5px white;
}

.nome1 {
    margin-bottom: 30px;
    font-size: 2.1em;
}

.git {
    margin-top: 20px;
    color: white;
}

.btn {
    width: 300px;
    margin-bottom: 10px;
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #fdfdfd;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #000000;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

.btn:before {
    content: "";
    position: absolute;
    width: 300px;
    height: 120%;
    background-color: #750a67;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btn:hover {
    background-color: #000000;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn:active {
    transform: scale(0.9);
}

.link {
    color: white;
    text-decoration: none;
    text-align: justify;
    margin: 30px;
}

.nome2 {
    font-size: 2em;
    padding-bottom: 5px;
}

.card1 {
    color: white;
    background-color: rgba(40, 8, 116, 0.411);
    flex-wrap: wrap;
    padding: 50px;
    padding-bottom: 1px;
    text-align: justify;
    border: solid 1px;
}

.card2 {
    color: white;
    background-color: rgba(40, 8, 116, 0.411);
    flex-wrap: wrap;
    margin: 0px;
    padding: 50px;
    padding-right: 100px;
    text-align: justify;
    border: solid 1px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fundocards {
    background-color: rgba(40, 8, 116, 0.411);
    margin: 0px;
    border: solid 2px;
    color: white;
}

.cardfund {
    width: 190px;
    height: 454px;
    background-image: linear-gradient(163deg, #680850 0%, #2704a5 100%);
    border-radius: 20px;
    transition: all .3s;
    }
    
    .cardfund2 {
    width: 190px;
    height: 524px;
    background-color: #1a1a1a;
    transition: all .2s;
    }
    
    .cardfund2:hover {
    transform: scale(0.98);
    border-radius: 20px;
    }
    
    .cardfund:hover {
    box-shadow: 0px 0px 30px 1px rgba(223, 6, 194, 0.3);
}

.nomes3 {
    text-align: center;
    margin: 10px;
}

.card3 {
    background-color: rgba(40, 8, 116, 0.411);
    margin: 20px;
    height: 445px;
    width: 392px;
    color: white;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.html-css-js {
    width: 300px;
    opacity: 0.5;
    transition: 0.5s ease;
}

.html-css-js:hover {
    opacity: 1;
}

.bda {
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    opacity: 0.5;
    transition: 0.5s ease;
}

.bda:hover {
    opacity: 1;
}

.cloud {
    display: inline-block;
    width: 300px;
    opacity: 0.5;
    transition: 0.5s ease;
}

.cloud:hover {
    opacity: 1;
}

.card3 img {
    background-color: rgba(40, 8, 116, 0.411);
    width: 300px;
    height: 290px;
    margin: 5px;
    border-radius: 10%;
}

.cards {
    text-align: center;
    margin-top: 10px;
}

.figura {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.intro {
    display: flex;
    align-items: center;
    gap: 0px;
}

.botao {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url("https://mundoconectado.com.br/uploads/chamadas/whatsapp_beta_chamada_voz_video_pc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*///////////////////BOTÃO DE LINKS////////////////////////*/
.buttonlink {
    display: inline-block;
    padding: 12px 28px;
    margin: 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #62079e, #0072ff);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
}

.buttonlink:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #000000;
}

.buttonlink:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
}

.buttonlink:before,
.buttonlink:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.buttonlink:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
}

.buttonlink:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}
/*///////////////////BOTÃO DE LINKS////////////////////////*/

/*///////////////////BOTÃO FLUTUANTE////////////////////////*/
button {
    border: none;
    color: #fff;
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

button:hover {
    background-position: center;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
    box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}
/*///////////////////BOTÃO FLUTUANTE////////////////////////*/

@media screen and (max-width: 1023px){
    .section1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    main {
        width: 100%;
    }
    .perfil {
        width: 100%;
        height: fit-content;
        padding-bottom: 35px;
    }
    .btn {
        width: 300px;
        margin: 10px;
    }
    .section2 {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .card2 {
        padding: 30px;
        margin: 0px;
    }
    .html-css-js {
        width: 30%;
        margin: 0;
    }
    .bda {
        width: 15%;
    }
    .cloud {
        width: 30%;
    }
    .imagens1 {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        margin: 10px;
    }
    .imagens2 {
        display: flex;
        flex-wrap: wrap;
        width: 34%;
        margin: 4%;
    }
    .intro {
        gap: 10px;
        align-items: flex-end;
    }
    .intro p {
        margin: 0px;
    }
    .intro i {
        font-size: 20px;
        margin-top: 35px;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .fundocards {
        margin: 0px;
    }
    .container {
        gap: 20px;
    }
    .card3 {
        margin: 0px 0px;
    }
    .cardfund {
        margin: 1px;
        height: 400px;
    }
    .cardfund2 {
        margin: 1px;
        height: 400px;
    }
    .card3 img {
        margin: 0px 0px;
    }
}