* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(47, 51, 51);
}

.principal {
    display: flex;
}

.perfil {
    background-color: rgb(31, 25, 25);
    padding-bottom: 609px;
    width: 25%;
    text-align: center;
    color: white;
    flex-wrap: wrap;
}

.nome1 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.nome2 {
    font-size: 2em;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-inline: 30px; */
}

.perfil img {
    margin: 20px;
    width: 80%;
    height: 300px;
    border-radius: 50%;
    flex-wrap: wrap;
    border: solid 2px;
    image-rendering: optimizeQuality;
}

.card1 {
    color: white;
    background-color: rgb(47, 51, 51);
    flex-wrap: wrap;
    margin: 20px 5px;
    padding: 50px;
    text-align: justify;
}

.card2 {
    color: white;
    background-color: rgb(31, 25, 25);
    flex-wrap: wrap;
    margin: 20px 5px;
    padding: 50px;
    text-align: justify;
}

.card3 {
    color: white;
    background-color: rgb(31, 25, 25);
    flex-wrap: wrap;
    margin: 20px 5px;
    padding: 200px;
    text-align: justify;
}

.figura p {
    display: inline-block;
    padding-left: 5px;
}

.emoji {
    display: inline-block;
}